.patch-page {
    height: 70%;
    overflow:auto;
}

.patch-table {
    height: 70%;
    width: 300px;
    margin: auto;
    text-align: center;
    overflow-y:scroll;
}

.patch-table-head {

}

.patch-table-body {

}

.patch-table-item {
    height: 20px;
}
