{
  "extends": "airbnb",

  "parserOptions": {
  "ecmaVersion": 6
  },

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "mocha",
    "import"
  ],

  "rules": {
    "mocha/no-exclusive-tests": 2,
    "mocha/no-skipped-tests": 2,
    "mocha/handle-done-callback": 2,

    "indent": [2, 4, {"SwitchCase": 1}],
    "quotes": [2, "single"],
    "comma-dangle": [2, "never"],
    "keyword-spacing": [2, {
      "before": true,
      "after": true
    }],
    "space-before-function-paren": [2, "never"],
    "no-use-before-define": 0,
    "no-console": 0,
    "no-restricted-syntax": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,

    "no-else-return": 0,
    "prefer-const": 0,
    "new-cap": 0,
    "padded-blocks": 0,
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
    "semi": ["error", "always"],
    "id-length": [2, {
      "min": 3,
      "max": 30,
      "properties": "never",
      "exceptions": ["id", "i", "e", "fn", "_", "db", "or", "a", "b", "fs", "qb", "t"]
    }],

    // rules disabled from airbnb config since they don't match our previous
    // coding style at all
    "camelcase": 0,
    "func-names": 0,
    "no-var": 0,
    "object-shorthand": 0,
    "no-multi-spaces": ["error", { "exceptions": { "VariableDeclarator": true, "Property": true } }],
    "brace-style": 0,
    "prefer-template": 0,
    "vars-on-top": 0
  }
}
